html {
    font-size: 100px;
    font-family: Garamond, serif;
  }
  
  
  h1 {
    font-family: Garamond, serif;
    font-size: 60px;
    text-align: center;

  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  
  html {
    background-color: pink;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: black;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: pink;
    text-shadow: 3px 3px 1px black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  p{
    font-size: 30px;
    color: whitesmoke;
  }
button{
    font-size: 20px;
    border: 5px solid pink;
}